<div class="flex flex-col flex-auto min-w-0 px-10">
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <!-- CONTENT GOES HERE -->

        <!-- <mat-form-field class="w-1/2">
            <mat-label>Template Name</mat-label>
            <input matInput #template placeholder="Ex. I need help with..." />
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field> -->

        <div class="flex flex-row w-full h-full gap-20">
            <mat-tab-group
                class="flex flex-col w-full"
                mat-stretch-tabs="false"
                mat-align-tabs="start"
                (selectedTabChange)="onTabChange($event)"
            >
                <mat-tab label="TEXT">
                    <div class="flex flex-col w-full h-full">
                        <!-- <div
                            #myinput
                            contenteditable="true"
                            class="h-full border-2 bg-slate-200 p-4"
                            (focusout)="onFocusOut($event)"
                            (input)="updatePreviewMessage($event)"
                            [innerHTML]="textMessage"
                        ></div> -->

                        <textarea
                            #myinput
                            id="message"
                            class="h-full border-2 bg-slate-200 p-4"
                            contenteditable="true"
                            [(ngModel)]="message"
                        ></textarea>

                        <div class="flex flex-col w-full">
                            <!-- <mat-selection-list
                                [multiple]="false"
                                #shoes
                                (selectionChange)="
                                    updateSelectedDatas(
                                        shoes.selectedOptions.selected
                                    )
                                "
                            >
                                <mat-list-option
                                    *ngFor="let shoe of datas"
                                    [value]="shoe"
                                >
                                    {{ shoe }}
                                </mat-list-option>
                            </mat-selection-list>

                            <button (click)="addSelectedDatasToQuote()">
                                Add to quote
                            </button> -->

                            <ul>
                                <li
                                    *ngFor="let data of datas"
                                    (click)="addFieldToMessage(data)"
                                    style="cursor: pointer"
                                >
                                    {{ data }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="BUTTONS">
                    <div class="flex flex-col gap-2">
                        <div>
                            <button mat-raised-button color="primary">
                                upload img
                            </button>
                        </div>

                        <mat-form-field class="w-full">
                            <mat-label>Title</mat-label>
                            <input
                                matInput
                                [(ngModel)]="buttonTitle"
                                (input)="updatePreview($event)"
                                name="title"
                                placeholder="Ex. I need help with..."
                            />
                            <mat-icon matSuffix>mode_edit</mat-icon>
                        </mat-form-field>

                        <mat-form-field class="w-full">
                            <mat-label>Text</mat-label>
                            <input
                                matInput
                                [(ngModel)]="buttonText"
                                (input)="updatePreview($event)"
                                name="text"
                                placeholder="Ex. I need help with..."
                            />
                            <mat-icon matSuffix>mode_edit</mat-icon>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Number of Actions</mat-label>
                            <mat-select
                                [(value)]="numActions"
                                (selectionChange)="updatePreview($event)"
                            >
                                <mat-option value="1">1</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="w-full">
                            <mat-label>Action</mat-label>
                            <input
                                matInput
                                [(ngModel)]="buttonAction"
                                (input)="updatePreview($event)"
                                name="action"
                                placeholder="Ex. I need help with..."
                            />
                            <mat-icon matSuffix>mode_edit</mat-icon>
                        </mat-form-field>
                    </div>
                </mat-tab>
            </mat-tab-group>

            <div class="flex flex-col w-full">
                Preview
                <div
                    class="flex flex-col border-2 border-dashed border-gray-300 rounded-2xl bg-slate-200 h-fit max-h-full p-5 gap-3"
                >
                    <div
                        *ngIf="selectedLabel === 'TEXT'"
                        class="rounded-2xl bg-white p-2 w-fit"
                    >
                        <p [innerHTML]="textMessage"></p>
                    </div>

                    <div
                        *ngIf="selectedLabel === 'TEXT'"
                        class="rounded-2xl bg-white p-2 w-fit"
                    >
                        <pre>{{ textMessage }}</pre>
                    </div>

                    <div
                        *ngIf="selectedLabel === 'BUTTONS'"
                        class="rounded-2xl bg-white p-2 w-fit"
                    >
                        <mat-card class="example-card">
                            <img
                                mat-card-image
                                src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                alt="Photo of a Shiba Inu"
                            />
                            <mat-card-header>
                                <mat-card-title class="font-bold">
                                    {{ buttonTitle }}
                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <p>{{ buttonText }}</p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button
                                    mat-stroked-button
                                    *ngIf="numActions >= 1"
                                >
                                    {{ buttonAction }}
                                </button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
